<nav th:fragment="header"
        class="header">
    <div class="header-links">
        <a href="/" class="header-link home">Home</a>
        <a href="/about-us" class="header-link">About Us</a>
        <a href="/contacts" class="header-link">Contacts</a>
    </div>
    <a href="/" class="header-logo">
        Prog Blog
    </a>
    <div class="header-form">
        <input type="text" class="header-search-input"/>
        <button class="search-button">
            <img src="/images/search.svg" alt="search">
        </button>
    </div>
</nav>